---

language: ruby
cache: bundler

install:
  - bundle install

before_script:
  - mkdir -p ~/.ssh
  - echo -e "$PRIVATE_SSH_KEY" > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa

script:
  - kitchen test
