---
#
# Copyright 2016 VVL Systems & Consulting
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
#   Section 1.1 Filesystem Configuration
#

  - name: Create /etc/modprobe.d/CIS.conf with root ownership & mode
    file: path=/etc/modprobe.d/CIS.conf state=touch owner=root group=root mode=0600
    changed_when: false
    tags:
      - notscored
      - section1.1
      - section1.1.18
      - section1.1.19
      - section1.1.20
      - section1.1.21
      - section1.1.22
      - section1.1.23
      - section1.1.24

  - name: 1.1.1.1 Ensure mounting of cramfs filesystems is disabled (Scored)
    lineinfile: >
      state=present
      dest=/etc/modprobe.d/CIS.conf
      line="install cramfs /bin/true"
    tags:
      - scored
      - section1.1
      - section1.1.1.1

  - name: 1.1.1.2 Ensure mounting of freevxfs filesystems is disabled (Scored)
    lineinfile: >
      state=present
      dest=/etc/modprobe.d/CIS.conf
      line="install freevxfs /bin/true"
    tags:
      - scored
      - section1.1
      - section1.1.1.2

  - name: 1.1.1.3 Ensure mounting of jffs2 filesystems is disabled (Scored)
    lineinfile: >
      state=present
      dest=/etc/modprobe.d/CIS.conf
      line="install jffs2 /bin/true"
    tags:
      - scored
      - section1.1
      - section1.1.1.3

  - name: 1.1.1.4 Ensure mounting of hfs filesystems is disabled (Scored)
    lineinfile: >
      state=present
      dest=/etc/modprobe.d/CIS.conf
      line="install hfs /bin/true"
    tags:
      - scored
      - section1.1
      - section1.1.1.4

  - name: 1.1.1.5 Ensure mounting of hfsplus filesystems is disabled (Scored)
    lineinfile: >
      state=present
      dest=/etc/modprobe.d/CIS.conf
      line="install hfsplus /bin/true"
    tags:
      - scored
      - section1.1
      - section1.1.1.5

  - name: 1.1.1.6 Ensure mounting of squashfs filesystems is disabled (Scored)
    lineinfile: >
      state=present
      dest=/etc/modprobe.d/CIS.conf
      line="install squashfs /bin/true"
    tags:
      - scored
      - section1.1
      - section1.1.1.6

  - name: 1.1.1.7 Ensure mounting of udf filesystems is disabled (Scored)
    lineinfile: >
      state=present
      dest=/etc/modprobe.d/CIS.conf
      line="install udf /bin/true"
    tags:
      - scored
      - section1.1
      - section1.1.1.7

  - name: 1.1.1.8 Ensure mounting of FAT filesystems is disabled (Scored)
    lineinfile: >
      state=present
      dest=/etc/modprobe.d/CIS.conf
      line="install vfat /bin/true"
    tags:
      - scored
      - section1.1
      - section1.1.1.8

  - name: 1.1.3 - 1.1.5 Ensure nodev,nosuid,noexec option set for /tmp Partition (Scored)
    mount: >
      name="/tmp"
      src={{ item.device }}
      state=mounted
      fstype={{ item.fstype }}
      opts="nodev,nosuid,noexec"
    when: item.mount == "/tmp"
    with_items: "{{ ansible_mounts }}"
    tags:
      - scored
      - section1.1
      - section1.1.3
      - section1.1.4
      - section1.1.5

# Need to check for correctness. Need sudo
  - name: 1.1.3 - 1.1.5 Ensure nodev,nosuid,noexec option set for /tmp Partition (Scored)
    command: mount -o remount,nodev,nosuid,noexec /tmp
    when: (ansible_distribution == "RHEL" and ansible_distribution_major_version == "7")
    tags:
      - scored
      - section1.1
      - section1.1.3
      - section1.1.4
      - section1.1.5

  - name: 1.1.8 - 1.1.10 Ensure nodev,nosuid,noexec option set for /var/tmp Partition (Scored)
    mount: >
      name="/var/tmp"
      src={{ item.device }}
      state=mounted
      fstype={{ item.fstype }}
      opts="nodev,nosuid,noexec"
    when: item.mount == "/var/tmp"
    with_items: "{{ ansible_mounts }}"
    tags:
      - scored
      - section1.1
      - section1.1.8
      - section1.1.9
      - section1.1.10

  - name: 1.1.14 Ensure nodev option set on /home partition (Scored)
    mount: >
      name="/home"
      src={{ item.device }}
      state=mounted
      fstype={{ item.fstype }}
      opts="nodev"
    when: item.mount == "/home"
    with_items: "{{ ansible_mounts }}"
    tags:
      - scored
      - section1.1
      - section1.1.14

  - name: 1.1.14 Ensure nodev option set on /home partition (Scored)
    command: mount -o remount,nodev /home
    when: (ansible_distribution == "RHEL" and ansible_distribution_major_version == "7")
    tags:
      - scored
      - section1.1
      - section1.1.14

  - name: 1.1.15 - 1.1.17 Ensure nodev,nosuid, noexec option set on /dev/shm Partition (Scored)
    mount: >
      name="/dev/shm"
      src="none"
      state=mounted
      fstype="tmpfs"
      opts="nodev,nosuid,noexec"
    tags:
      - scored
      - section1.1
      - section1.1.15
      - section1.1.16
      - section1.1.17

  - name: 1.1.15 - 1.1.17 Ensure nodev,nosuid, noexec option set on /dev/shm Partition (Scored)
    command: mount -o remount,nodev,nosuid,noexec /dev/shm
    when: (ansible_distribution == "RHEL" and ansible_distribution_major_version == "7")
    tags:
      - scored
      - section1.1
      - section1.1.15
      - section1.1.16
      - section1.1.17

  - name: 1.1.18 Ensure nodev option set on removable media partitions (Not Scored)
    debug: msg="*** Not relevant."
    tags:
      - scored
      - section1.1
      - section1.1.18

  - name: 1.1.19 Ensure nosuid option set on removable media partitions (Not Scored)
    debug: msg="*** Not relevant."
    tags:
      - notscored
      - section1.1
      - section1.1.19

  - name: 1.1.20 Ensure noexec option set on removable media partitions (Not Scored)
    debug: msg="*** Not relevant."
    tags:
      - notscored
      - section1.1
      - section1.1.20


  - name: 1.1.21 Ensure sticky bit is set on all world-writable directories (Scored)
    debug: msg="*** May be too destructive -- see notes"
    tags:
      - scored
      - section1.1
      - section1.1.21

  - name: 1.1.22 Disable Automounting (Scored)
    debug: msg="*** May be too destructive -- see notes"
    tags:
      - scored
      - section1.1
      - section1.1.22

#   Section 1.2 Configure Software Updates

  - name: 1.2.1 Ensure package manager repositories are configured (Not Scored)
    command: yum check-update
    register: result
    failed_when: "result.rc == 1"
    when: ansible_distribution == "RedHat"
    tags:
      - notscored
      - section1.2
      - section1.2.1

  - name: 1.2.2 Ensure gpgcheck is globally activated (Scored)
    lineinfile: >
      state=present
      dest=/etc/yum.conf 
      regexp=^gpgcheck=
      line=gpgcheck=1
    tags:
      - scored
      - section1.2
      - section1.2.2

  - name: 1.2.3 Ensure GPG keys are configured (Not Scored)
    command: gpg --quiet --with-fingerprint /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release 
    when: ansible_distribution == "RedHat"
    tags:
      - scored
      - section1.2
      - section1.2.3

  - name: 1.2.4 Ensure Red Hat Network or Subscription Manager connection is configured (Not Scored)
    debug: msg="*** Check manually."
    tags:
      - notscored
      - section1.2
      - section1.2.4

#   Section 1.3 Filesystem Integrity Checking

  - name: 1.3.1 Ensure AIDE is installed (Scored)
    yum: >
      name=aide
      state=present
    when: configure_aide
    tags:
      - scored
      - section1.3
      - section1.3.1

  - name: 1.3.1 Install AIDE (Initialize AIDE) (Scored)
    command: >
      /usr/sbin/aide --init -B 'database_out=file:/var/lib/aide/aide.db.gz' 
      creates=/var/lib/aide/aide.db.gz
    when: configure_aide
    tags:
      - scored
      - section1.3
      - section1.3.1

  - name: 1.3.1 Install AIDE (check is prelink installed) (Scored)
    stat: path=/usr/sbin/prelink
    register: prelink_stat
    tags:
      - scored
      - section1.3
      - section1.3.1

  - name: 1.3.1 Install AIDE (Disable Prelinking) (Scored)
    lineinfile: >
      state=present
      dest=/etc/sysconfig/prelink
      regexp=^PRELINKING=
      line=PRELINKING=no
      create=yes
    when:
      - configure_aide
      - prelink_stat.stat.exists
    tags:
      - scored
      - section1.3
      - section1.3.1

  - name: 1.3.2 Ensure filesystem integrity is regularly checked (Scored)
    cron: >
      name="Run AIDE (CIS 1.3.2)"
      minute="0"
      hour="5"
      job="/usr/sbin/aide --check"
    when: configure_aide
    tags:
      - scored
      - section1.3
      - section1.3.2

#   Section 1.4 Secure Boot Settings

  - name: 1.4.1 Ensure permissions on bootloader config are configured (Scored)
    debug: msg="*** Too destructive for production systems. Evaluate for your environment first."
    tags:
      - scored
      - section1.4
      - section1.4.1

  - name: 1.4.2 Ensure bootloader password is set (Scored)
    debug: msg="*** Too destructive for production systems. Evaluate for your environment first."
    tags:
      - scored
      - section1.4
      - section1.4.2

  - name: 1.4.3 Ensure authentication required for single user mode (Scored)
    debug: msg="*** Too destructive for production systems. Evaluate for your environment first."
    tags:
      - scored
      - section1.4
      - section1.4.3

  - name: 1.4.4 Ensure interactive boot is not enabled (Scored)
    lineinfile: >
      dest=/etc/sysconfig/init
      regexp=^PROMPT=
      line=PROMPT=no
    when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "6") or
          (ansible_distribution == "RedHat" and ansible_distribution_major_version == "6")
    tags:
      - scored
      - section1.4
      - section1.4.4

#   Section 1.5 Additional Process Hardening

  - name: 1.5.1 Ensure core dumps are restricted (Scored)
    lineinfile: >
      dest=/etc/security/limits.conf
      line="* hard core 0"
      insertafter=EOF
    tags:
      - scored
      - section1.5
      - section1.5.1

  - name: 1.5.1 Ensure core dumps are restricted (Scored) - via sysctl
    sysctl: >
      name=fs.suid_dumpable
      value=0
      state=present
      ignoreerrors=yes
    tags:
      - scored
      - section1.5
      - section1.5.1

  - name: 1.5.2 Ensure XD/NX support is enabled (Not Scored)
    debug: msg="*** Too destructive for production systems. Evaluate for your environment first."
    tags:
      - scored
      - section1.5
      - section1.5.2

  - name: 1.5.3 Ensure address space layout randomization (ASLR) is enabled (Scored)
    sysctl: >
      name=kernel.randomize_va_space
      value=2
      state=present
      ignoreerrors=yes
    tags:
      - scored
      - section1.5
      - section1.5.3
      
  - name: 1.5.4 Ensure prelink is disabled (Scored)
    stat: path=/etc/prelink.conf
    register: prelink
    tags:
      - scored
      - section1.5
      - section1.5.4

  - name: 1.5.4 Ensure prelink is disabled (Scored)
    yum: >
      name=prelink
      state=absent
    when: prelink.stat.exists
    tags:
      - scored
      - section1.5
      - section1.5.4

# Section 1.7 Warning Banners

  - name: 1.7.1.1 Ensure message of the day is configured properly (Scored)
    copy: >
      src=etc/motd
      dest=/etc/motd 
    tags:
      - scored
      - section1.7
      - section1.7.1.1

  - name: 1.7.1.2 Ensure local login warning banner is configured properly (Not Scored)
    copy: >
      src=etc/issue
      dest=/etc/issue  
    tags:
      - scored
      - section1.7
      - section1.7.1.2

  - name: 1.7.1.3 Ensure remote login warning banner is configured properly (Not Scored)
    copy: >
      src=etc/issue.net
      dest=/etc/issue.net
    tags:
      - scored
      - section1.7
      - section1.7.1.3

  - name: 1.7.1.4 - 1.7.1.6 Ensure permissions on /etc/motd, /etc/issue and /etc/issue.net are configured (Not Scored)
    file: >
      path=/etc/{{ item }}
      owner=root
      group=root
      mode=0644
    with_items:
      - motd
      - issue
      - issue.net    
    tags:
      - scored
      - section1.7
      - section1.7.1
      - section1.7.1.4
      - section1.7.1.5
      - section1.7.1.6

  - name: 1.7.2 Ensure GDM login banner is configured (Scored)
    yum: >
      name=gdm
      state=absent
    tags:
      - scored
      - section1.7
      - section1.7.2

  - name: 1.8 Ensure updates, patches, and additional security software are installed (Not Scored)
    debug: msg="Run yum update manually or during scheduled maintenance windows."
    tags:
      - scored
      - section1.8
